.container {
  margin-left: 250px; /* Width of the sidebar */
}
.create-visit {
  max-width: 600px;
  max-height: 2000px; /* Adjust the height as needed */
  margin: 20px auto 0;
  margin-top: 100px;
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px px 4px rgba(0, 0, 0, 0.1);
}
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position:relative;
    margin-top: 30px;
  }
  
.span {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
    position:absolute;
    top:-25px;
    left:0;
   
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .notes{
    width: 500px;
  }
  
  button {
    background-color: #ffcccc;
    border: none;
    color: #293241;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: white;
    color: red;;
  }
  
  .btn {
    align-self: flex-end;
  }
  